$blue: #185adb;
$yellow: #ffc947;
$light: #efefef;
$dark: #0a1931;
$red: #d3232b;

// COMPONENTS
[class|=btn] {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background: $blue;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  &:hover {
    cursor: pointer;
  }
}

.mark-paid, .mark-read {
  color: $blue;
  width: max-content;
  &:hover {
    cursor: pointer;
    font-weight: 700;
  }
}

.mark-read {
  margin-top: 5px;
  margin-left: auto;
}

.read-toggle {
  margin: 10px auto 20px auto;
  width: max-content;
  display: flex;
  background: white;
  border: 1px solid $dark;
  border-radius: 10px;
}

.toggle-btn {
  width: 75px;
  padding: 5px 10px;
  text-align: center;
  font-weight: 600;

  &:hover {
    cursor: pointer;
  }
  &.active {
    background: $blue;
    color: white;
  }
  &.left {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  &.right {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

// LAYOUT
#dashboard {
  [class|=section] {
    h2 {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
}

.message {
  background: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 5px 0;
}

.msg-header {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.dashboard-top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.notice {
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 1.1rem;
  width: max-content;

  &:hover {
    cursor: pointer;
    color: $blue;
  }
}

.section-notifications {
  margin-bottom: 4rem;
  min-height: 8rem;
}

.section-revenue {
  margin: 0 auto 4rem auto;
  padding: 2rem;
  min-height: 8rem;
  width: max-content;
  border: 1px solid darkgray;
  border-radius: 20px;
  background: white;

  h2 {
    font-size: 0.8rem !important;
    margin-bottom: 0 !important;
    color: $blue !important;
  }
}

.empty-notifications {
  text-align: left;
  font-style: italic;
  color: grey;
}

.revenue {
  font-size: 2.8rem;
  margin-bottom: 5px;
}
.outstanding {
  font-size: 0.9rem;
  color: darkgray;
  font-style: italic;
  width: max-content;
  &:hover {
    cursor: pointer;
    color: $blue;
    font-weight: bolder;
  }
}

.upcoming {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
  gap: 1%;
}

.card-day {
  position: relative;
  border: 1px solid $dark;
  border-radius: 5px;
  min-height: 15rem;
  background: white;

  div {
    padding-top: 30px;
    overflow-y: scroll;
    max-height: 14.3rem;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  h3 {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin-bottom: 5px;
    background: $dark;
    color: white;
    font-weight: 100;
  }

  p {
    margin: 15px 10px;
    font-weight: 600;
    font-size: 1.1rem;
    &:hover {
      cursor: pointer;
      color: $blue;
      font-weight: 600;
    }
    span {
      font-size: 0.9rem;
      color: $blue;
    }
  }
}