$blue: #185adb;
$yellow: #ffc947;

.page-menu {
  display: flex;
  justify-content: end;
  gap: 1rem;

  p {
    font-weight: 700;
    background: $blue;
    color: white;
    &:hover {
      cursor: pointer;
    }
  }
}