#form-part {
  div:nth-child(1) {
    display: grid;
    grid-template-columns: 15% 65% 8%;
    gap: 2rem;
    justify-content: space-between;
  }

  .stock-notification {
    flex-flow: row;
    align-items: center;
    gap: 1rem;

    input {
      width: 8%;
    }
  }
}