$dark: #0a1931;
$yellow: #ffc947;
$blue: #185adb;
$red: #f05454;
$light: #efefef;


/***** GENERAL STYLES *****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, td, th {
  color: $dark;
}

/***** PAGE STYLES *****/
main {
  margin-left: 250px;
  padding: 50px;
}

/***** COMPONENT STYLES *****/
/* Job Form */
#dropdown-area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#customer-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#address {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  column-gap: 5px;
}
#parts-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}
#parts-area .part-form {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  column-gap: 5px;
}
.form-btn {
  width: 100px;
}