$blue: #185adb;
$yellow: #ffc947;
$light: #efefef;
$dark: #0a1931;
$red: #d3232b;

@mixin easeOut {
  transition: all .3s ease-out;
}

/* LAYOUT */
* {
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: $light;
  font-family: 'Montserrat', sans-serif;
  color: $dark;
}
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100px;
  height: 100%;
}
.container {
  margin-left: 100px;
  padding: 20px 40px;
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  color: $blue;
  margin: 1rem auto 5rem auto;

  h1 {
    font-size: 3rem;
    font-weight: 300;
    &:hover {
      cursor: pointer;
    }
  }
}
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $blue;
  margin-bottom: 1.5rem;
}

/* COMPONENTS */
[class|=btn] {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background: $blue;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  &:hover {
    cursor: pointer;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// TABLES
table {
  width: 100%;
}
td, th {
  padding: 0.3rem;
  width: 100%;
  text-align: left;
}
th {
  font-size: 1.1rem;
}
tr {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
thead, tbody {
  display: flex;
  flex-flow: column;
  width: 100%;
}
.table-item {
  background: white;
  border: 1px solid $blue;
  border-radius: 5px;
  margin: 5px 0;
  box-shadow: 0 1px 1px rgb(0 0 0 / 0.2);
  &:hover {
    cursor: pointer;
    background: $blue;
    color: white;
  }
}

// FORMS
input, select {
  padding: 0.6rem;
  border: 0.5px solid lightgrey;
  border-radius: 5px;
  height: 2.5rem;
  font-size: 1rem;
}

label {
  font-weight: 600;
}

textarea {
  font-family: 'Montserrat', sans-serif;
  padding: 0.6rem;
  font-size: 1rem;
}

// COMPONENTS
.input-sm, .dropdown {
  width: 100%;
  max-width: 12rem;

}

.dropdown {
  position: relative;
  .faChevronDown {
    position: absolute;
    right: 12px;
    top: 14px;
  }
  select {
    appearance: none;
    cursor: pointer;
    width: 100%;
    padding-right: 1.8rem;
  }
}

.invoiceInput {
  position: relative;
  .faHashtag {
    position: absolute;
    top: 13px;
    left: 9px;
  }
  input {
    appearance: none;
    padding-left: 30px;
  }
}

.dollarInput {
  position: relative;
  .faDollarSign {
    position: absolute;
    top: 13px;
    left: 11px;
  }
  input {
    padding-left: 25px;
  }
}

.button-area {
  display: flex;
  gap: 1rem;
}

.btn-form {
  width: 6rem;
  height: 2.5rem;
}

// TEXT STYLES
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.red {
  color: $red;
}
.blue {
  color: $blue;
}
.empty {
  text-align: center;
  font-style: italic;
  color: grey;
}