$blue: #185adb;
$yellow: #ffc947;
$light: #efefef;
$dark: #0a1931;
$red: #d3232b;

@mixin easeOut {
  transition: all .3s ease-out;
}

/* LAYOUT */
* {
  outline: none;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background: $light;
  font-family: 'Montserrat', sans-serif;
  color: $dark;
}
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100px;
  height: 100%;
}
.container {
  margin-left: 100px;
  padding: 20px;
  //border: 1px solid black;
}
[class|=section] {
  margin: 25px auto;
}

/* COMPONENTS */
[class|=btn] {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
  }
}

// TABLES
table {
  border-collapse: collapse;
}
td, th {
  padding: 0.3rem;
  width: 100%;
  text-align: left;
}
th {
  font-size: 1.2rem;
}
tr {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
.table-item {
  border: 1px solid $blue;
  border-radius: 5px;
  margin: 5px 0;
  box-shadow: 0 1px 1px rgb(0 0 0 / 0.2);
  &:hover {
    cursor: pointer;
    background: $blue;
    color: white;
  }
}

// FORMS
input, select {
  padding: 0.6rem;
  border: 0.5px solid lightgrey;
  border-radius: 5px;
}

// COMPONENTS
.dropdown {
  position: relative;
  width: 100%;
  max-width: 12rem;
  .faChevronDown {
    position: absolute;
    right: 12px;
    top: 11px;
  }
  select {
    appearance: none;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    padding-right: 1.8rem;
  }
}

// TEXT STYLES
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.red {
  color: $red;
}
.blue {
  color: $blue;
}