$dark: #0a1931;
$blue: #185adb;

/* INVENTORY TABLE */
.tr-part {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 2fr 1fr;
}
.inventory-buttons {
  display: flex;
  gap: 2rem;
  justify-content: center;

  .quantity {
    padding: 2px 6px;
    color: $dark;
    font-size: 1rem;
    font-weight: 700;
    border: 1px solid $dark;
    border-radius: 50%;
    &:hover {
      cursor: pointer;
      background: $blue;
      border-color: $blue;
      color: white;
    }
  }

  .select {
    padding: 2px 5px;
    color: $dark;
    font-size: 1.1rem;
    font-weight: 700;
    &:hover {
      cursor: pointer;
      color: $blue;
    }
  }
}


/* RESTOCK TABLE */
.tr-restock {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 3fr;
}

/* PART FORM */
#form-part {
  div:nth-child(1) {
    display: grid;
    grid-template-columns: 15% 65% 8%;
    gap: 2rem;
    justify-content: space-between;
  }

  input {
    width: auto;
  }

  .stock-notification {
    flex-flow: row;
    align-items: center;
    gap: 1rem;

    input {
      width: 8%;
    }
  }
}