$blue: #185adb;
$yellow: #ffc947;
$light: #efefef;
$dark: #0a1931;
$red: #d3232b;

@mixin easeOut {
  transition: all .3s ease-out;
}



.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100px;
  height: 100%;
  background: $blue;
  display: flex;
  ul {
    margin: 50px auto;
    padding: 0;
    list-style: none;
    display: grid;
    gap: 6rem;

    li {
      display: flex;
      align-items: center;
    }
  }
}

.nav-item {
  margin: 0 auto;
  font-size: 2rem;
  color: white;
  &:hover {
    cursor: pointer;
    color: $yellow;
    @include easeOut;
  }

  svg.active {
    color: $yellow;
  }
}

.signOut {
  margin-top: 6rem;
  padding: 0 5px;
  background: none;
  color: white;
  font-size: 2rem;
  border: none;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    color: $red;
    @include easeOut;
  }
}
