$blue: #185adb;
$yellow: #ffc947;
$light: #efefef;
$dark: #0a1931;
$red: #d3232b;

#form-customer {
  .customer-area {
    display: grid;
    grid-template-columns: 40% 55%;
    gap: 2rem;
    justify-content: space-between;
    label {
      display: flex;
      flex-flow: column;
      gap: 0.2rem;
    }
    input {
      width: 100%;
    }

    .address {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      & > div {
        display: grid;
        grid-template-columns: 60% 10% 28%;
        justify-content: space-between;
      }
    }
  }

  .notes-area {
    label {
      display: flex;
      flex-flow: column;
      gap: 0.2rem;
    }
    textarea {
      border: 1px solid lightgrey;
      border-radius: 5px;
      height: 5rem;
    }
  }
}

.customer-history {
  margin-top: 3rem;
  h2 {
    font-size: 1.6rem;
    font-weight: 400;
    color: $blue;
    text-align: center;
  }
}